.content {
  padding-top: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
}

.p {
  margin: 1rem;
}

.btn {
  background-color: tomato;
  border: none;
  border-radius: 100px;
  width: 600px;
  height: 60px;
  transition: 0.2s linear;
  margin-top: 30vh;
}

.btn:hover {
  background-color: orangered;
  cursor: pointer;
}

/* .image-wrapper {
  opacity: 5%;
} */

@media (min-width: 48em) {
  .content {
    padding-top: 0;
  }
}

