@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


.header {
  /* background-color: #97d4b9; */
  background-color: tomato;
  box-shadow: 1px 4px 5px;
}

.logo {
  font-family: 'Lobster Two', cursive;
  cursor: context-menu;
}
